USE [CuaHang]
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 8/4/2025 6:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[MaHD] [nvarchar](10) NOT NULL,
	[MaSP] [nvarchar](14) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](10, 2) NULL,
	[ThanhTien] [decimal](18, 0) NULL,
	[GiamGia] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPN]    Script Date: 8/4/2025 6:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPN](
	[MaPN] [nvarchar](10) NOT NULL,
	[MaSP] [nvarchar](14) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGiaNhap] [decimal](10, 2) NULL,
	[ThanhTien] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 8/4/2025 6:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NULL,
	[TenKhach] [nvarchar](50) NULL,
	[NgayLap] [date] NULL,
 CONSTRAINT [PK__HoaDon__2725A6E049C4F270] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 8/4/2025 6:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoai] [nvarchar](10) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 8/4/2025 6:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nvarchar](10) NOT NULL,
	[TenNCC] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 8/4/2025 6:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[NgaySinh] [datetime] NULL,
	[DienThoai] [nvarchar](15) NULL,
	[ChucVu] [bit] NULL,
	[Gmail] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK__NhanVien__2725D70A47ADF029] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 8/4/2025 6:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [nvarchar](10) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaNV] [nvarchar](10) NULL,
	[MaNCC] [nvarchar](10) NULL,
 CONSTRAINT [PK__PhieuNha__2725E7F0BA0AEBAA] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 8/4/2025 6:52:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nvarchar](14) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[DonGia] [decimal](10, 2) NULL,
	[SoLuongTon] [int] NULL,
	[MaLoai] [nvarchar](10) NULL,
 CONSTRAINT [PK__SanPham__2725081C368EB991] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHD] ([MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien], [GiamGia]) VALUES (N'HD0003', N'SP003', 1, CAST(15000.00 AS Decimal(10, 2)), CAST(15000 AS Decimal(18, 0)), CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[ChiTietHD] ([MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien], [GiamGia]) VALUES (N'HD0005', N'SP0008', 1, CAST(10000.00 AS Decimal(10, 2)), CAST(9000 AS Decimal(18, 0)), CAST(10.00 AS Decimal(5, 2)))
INSERT [dbo].[ChiTietHD] ([MaHD], [MaSP], [SoLuong], [DonGia], [ThanhTien], [GiamGia]) VALUES (N'HD0001', N'SP003', 44, CAST(15000.00 AS Decimal(10, 2)), CAST(135000 AS Decimal(18, 0)), CAST(10.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[ChiTietPN] ([MaPN], [MaSP], [SoLuong], [DonGiaNhap], [ThanhTien]) VALUES (N'PN001', N'SP001', 10, CAST(15000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[ChiTietPN] ([MaPN], [MaSP], [SoLuong], [DonGiaNhap], [ThanhTien]) VALUES (N'PN001', N'SP0006', 40, CAST(40000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[ChiTietPN] ([MaPN], [MaSP], [SoLuong], [DonGiaNhap], [ThanhTien]) VALUES (N'PN001', N'SP002', 20, CAST(200000.00 AS Decimal(10, 2)), NULL)
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [TenKhach], [NgayLap]) VALUES (N'HD0001', N'NV001', N'tự do', CAST(N'2025-08-03' AS Date))
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [TenKhach], [NgayLap]) VALUES (N'HD0002', N'NV001', N'', CAST(N'2025-08-03' AS Date))
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [TenKhach], [NgayLap]) VALUES (N'HD0003', N'NV003', N'minh', CAST(N'2025-08-03' AS Date))
GO
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai]) VALUES (N'LSP001', N'Trà sữa')
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai]) VALUES (N'LSP002', N'Cà phê')
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai]) VALUES (N'LSP003', N'Nước ngọt')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Email]) VALUES (N'NCC001', N'Masan Consumer', N'12 Tân Trào, Quận 7, TP.HCM', N'02854137777', N'contact@masanconsumer.com')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Email]) VALUES (N'NCC002', N'Vinamilk', N'10 Tân Trào, Quận 7, TP.HCM', N'02854155555', N'contact@vinamilk.com.vn')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Email]) VALUES (N'NCC003', N'Suntory Pepsico Việt Nam', N'86 Hàm Nghi, Quận 1, TP.HCM', N'02839112233', N'info@suntorypepsico.vn')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [DienThoai], [ChucVu], [Gmail], [MatKhau], [TrangThai]) VALUES (N'NV001', N'Nguyễn Văn minh', CAST(N'1995-10-15T00:00:00.000' AS DateTime), N'0901234567', 1, N'minh2410@gmail.com', N'matkhau123', 1)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [DienThoai], [ChucVu], [Gmail], [MatKhau], [TrangThai]) VALUES (N'NV002', N't', CAST(N'2025-07-26T10:16:49.087' AS DateTime), N'4', 0, N't', N't', 1)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [DienThoai], [ChucVu], [Gmail], [MatKhau], [TrangThai]) VALUES (N'NV003', N'huy', CAST(N'2025-07-17T22:20:47.000' AS DateTime), N'0876546754', 0, N'huy@gmail.com', N'huy123', 0)
GO
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNV], [MaNCC]) VALUES (N'PN001', CAST(N'2025-07-01T00:00:00.000' AS DateTime), N'NV001', N'NCC001')
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNV], [MaNCC]) VALUES (N'PN002', CAST(N'2025-07-02T00:00:00.000' AS DateTime), N'NV001', N'NCC002')
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNV], [MaNCC]) VALUES (N'PN003', CAST(N'2025-05-23T11:43:28.343' AS DateTime), N'NV003', N'NCC003')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [SoLuongTon], [MaLoai]) VALUES (N'SP0006', N'bánh gạo', CAST(45000.00 AS Decimal(10, 2)), 130, N'LSP004')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [SoLuongTon], [MaLoai]) VALUES (N'SP0007', N'7UP', CAST(12000.00 AS Decimal(10, 2)), 40, N'LSP003')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [SoLuongTon], [MaLoai]) VALUES (N'SP0008', N'sting', CAST(10000.00 AS Decimal(10, 2)), 10, N'LSP003')
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPN]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietPN__MaPN__4AB81AF0] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietPN] CHECK CONSTRAINT [FK__ChiTietPN__MaPN__4AB81AF0]
GO
ALTER TABLE [dbo].[ChiTietPN]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietPN__MaSP__4BAC3F29] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPN] CHECK CONSTRAINT [FK__ChiTietPN__MaSP__4BAC3F29]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__MaNV__3E52440B] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__MaNV__3E52440B]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK__PhieuNhap__MaNCC__47DBAE45] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK__PhieuNhap__MaNCC__47DBAE45]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK__PhieuNhap__MaNV__46E78A0C] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK__PhieuNhap__MaNV__46E78A0C]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK__SanPham__MaLoai__398D8EEE] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSanPham] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK__SanPham__MaLoai__398D8EEE]
GO
